body {
  background-color: #fafafa;
}

table {
  width: 100%;
}

.datatable-paging-control {
  margin: 0px;
  padding: 25px;
  padding-bottom: 25px;
  color: #0c2644;
  font-size: 12px!important;
  font-weight: bold;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datatable-paging-control-left {
  float: left;
  /*margin-left: -37px;*/
  margin-left: -4%;
}

.datatable-paging-control-right {
  float: right;
}

.page-select-container {
  margin-left: 10%;
}

.page-select-container > .mat-select {
  width: 35px;
  /*margin-left: 15px;*/
  margin-top: 2px;
}

.page-select-container > .datatable-paging-control-right > .mat-select > .mat-select-trigger > .mat-select-arrow-wrapper > .mat-select-arrow {
  color: #ffffff;
}

.page-select-container > .datatable-paging-control-right > .mat-select:focus:not(.mat-select-disabled).mat-primary
.mat-select-arrow, .mat-select-underline, .page-select-container > .datatable-paging-control-right > .mat-select > .mat-select-trigger {
  background-color: #0c2644;
  padding: 2px 5px 2px 5px;
  font-size: 12px!important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  /*width: 40px;*/
  margin-left: 15px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.page-select-container > .datatable-paging-control-right > .mat-select > .mat-select-trigger > .mat-select-value > .mat-select-value-text {
  color: #ffffff;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ffffff;
}

.basicSearchContainer {
  padding-top: 40px;
  /*margin-left: -50px;*/
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

.basicSearchResult {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.basicSearchTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 22px!important;
  color: #0c2644;
  border-bottom: 1px solid #56616d;
  /*border-bottom: 1.5px solid #56616d;*/
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.basicSearchTable {
  width: calc(100% - 70px);
  margin-left: 35px;
  margin-top: 20px;
  /*border: 1px solid #56616d;*/
  border: 1px solid #56616d;
}

.basicSearchTable th, td {
  /*border: 1px solid #56616d;*/
  border: 1px solid #56616d;
}

.basicSearchTable th {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 17px!important;
  color: #0c2644;
}

.basicSearchTable tr {
  height: 65px!important;
}

.basicSearchTable td {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 13px!important;
  color: #000000;
  border-bottom: .75px solid #56616d;
}

.mat-header-row {
  height: 35px !important;
}

td.mat-cell, td.mat-footer-cell,
th.mat-header-cell {
  padding: 0px 10px !important;
}

.main-column {
  min-width: 175px !important;
}

.personIcon {
  padding-right: 10px;
}

.mat-sort-header-indicator {
  opacity: 1;
  color: black;
  font-weight: bold;
}

.mat-sort-header-container{
  padding-right: 5px;
}

.mat-sort-header-button{
  float: left;
  margin: 0px auto;
  margin-left: 0px;
}

.mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle {
  display: none !important;
}

.mat-sort-header-stem{
  display: none !important;
}


.mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(-65%) !important;
  font-size: 27px !important;
  color: #0C2644 !important;
}

th[class]:not([aria-sort]) .mat-sort-header-arrow:after {
  content: "\e5d7" !important;
  font-family: "Material Icons" !important;
  position: absolute !important;
  /*right: -5px !important;*/
  top: -4px !important;
  opacity: 1 !important;
  color: #0C2644 !important;
  display: block !important;
  float: right;
  margin: 0px auto;
  font-size: 18pt;
}

[aria-sort="ascending"] .mat-sort-header-arrow .mat-sort-header-indicator::before {
  content: "\e5ce" !important;
  font-family: "Material Icons" !important;
  position: absolute !important;
  /*right: -5px !important;*/
  top: -6px !important;
  color: #0C2644 !important;
  display: block !important;
  float: right;
  margin: 0px auto;
  font-size: 18pt;
}

[aria-sort="descending"] .mat-sort-header-arrow .mat-sort-header-indicator::before {
  content: "\e5cf" !important;
  font-family: "Material Icons" !important;
  position: absolute !important;
  /*right: -5px !important;*/
  top: -15px !important;
  color: #0C2644 !important;
  display: block !important;
  float: right;
  margin: 0px auto;
  font-size: 18pt;
}
