body{
  background-color: #fafafa;
}

table{
  width: 100%;
}

.datatable-paging-control{
  margin: 0px;
  padding: 25px;
  padding-bottom: 25px;
  color: #0c2644;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datatable-paging-control-left{
  float: left;
  /*margin-left: -37px;*/
  margin-left: -4%;
}

.datatable-paging-control-right{
  float: right;
}

.page-select-container{
  margin-left: 10%;
}

.mat-select{
  width: 35px;
  /*margin-left: 15px;*/
}

.mat-select-arrow{
  color: #ffffff;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary
.mat-select-arrow, .mat-select-underline, .mat-select-trigger{
  background-color: #0c2644;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  /*width: 40px;*/
  margin-left: 15px;
}

.mat-select-value-text{
  color: #ffffff;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #ffffff;
}

.basicSearchContainer{
  padding-top: 40px;
  margin-left: -50px;
}

.basicSearchResult{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.basicSearchTitle{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #0c2644;
  border-bottom: 2px solid #333333;
  /*border-bottom: 1.5px solid #56616d;*/
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.basicSearchTable{
  width: calc(100% - 70px);
  margin-left: 35px;
  margin-top: 20px;
  /*border: 1px solid #56616d;*/
  border: 2px solid #cdcdcd;
}

.basicSearchTable th, td{
  /*border: 1px solid #56616d;*/
  border: 2px solid #cdcdcd;
}

.basicSearchTable th{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #0c2644;
}

.basicSearchTable td{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
}

.mat-header-row{
  height: 35px!important;
}

td.mat-cell, td.mat-footer-cell,
th.mat-header-cell{
  padding: 0px 10px!important;
}

.main-column{
  min-width: 175px!important;
}

.personIcon{
  padding-right: 10px;
}

/* My Tasks Page CACI-4241 Start */
#myTasksContainer {
  width: 1356px;
  height: 524px;
  position: absolute;
  left: 10%;
  box-shadow: 7px 7px 5px 0px rgba(12, 38, 68, .7);
  display: table;
  margin-bottom: 75px;
}

#myTasksTable {
  width: 1235px;
  height: 390px;
  margin: auto;
  box-shadow: none;
  margin-bottom: 40px;
}

#myTasksTable > thead > tr > th {
  border-bottom: .75px solid #56616D;
  border-right: 1px solid #56616D;
  border-top: .75px solid #56616D;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #0C2644;
}

#myTasksTable > thead > tr > th:first-child, #myTasksTable > tbody > tr > td:first-child {
  border-left: 1px solid #56616D;
}

#myTasksTable > tbody > tr > td {
  border-bottom: .75px solid #56616D;
  border-right: 1px solid #56616D;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}

#myTasksTable > thead > tr.mat-header-row > th.mat-header-cell, #myTasksTable > tbody > tr.mat-row > td.mat-cell {
  padding-left: 24px !important;
}

#myTaskLabel {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #0C2644;
  border-bottom: 1.5px solid #56616D;
  padding-left: 59px;
  padding-bottom: 10px;
}

#myTasksTable > tbody > tr.mat-header-row > th, #myTasksTable > thead > tr.mat-row > td, #myTasksTable > tbody > tr.mat-row > td, #myTasksTable > thead > tr.mat-header-row > th {
  width: 25%;
}

#myTasksTable > thead > .mat-header-row > .mat-header-cell > .mat-sort-header-container > .mat-sort-header-button {
  width: 100% !important;
}

#myTasksTable > thead > tr.mat-header-row > th.mat-header-cell {
  padding-right: 24px !important;
}

#myTasksTable > thead > .mat-header-row > .mat-header-cell > .mat-sort-header-container > .mat-sort-header-arrow[style] {
  .mat-sort-header-stem {
    display: none;
  }

  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}

#myTasksTable > thead > .mat-header-row > .mat-header-cell > .mat-sort-header-container > .mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(-65%) !important;
  font-size: 27px !important;
  color: #0C2644 !important;
}

#myTasksTable > thead > tr.mat-header-row > th[class]:not([aria-sort]) {
  .mat-sort-header-arrow:after {
    content: "\e5d7" !important;
    font-family: "Material Icons" !important;
    position: absolute !important;
    right: -5px !important;
    top: 0px !important;
    opacity: 1 !important;
    color: #0C2644 !important;
    display: block !important;
  }
}

[aria-sort="ascending"] {
  .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "\e5ce" !important;
        font-family: "Material Icons" !important;
        position: absolute !important;
        right: -5px !important;
        top: -1px !important;
        color: #0C2644 !important;
        display: block !important;
      }
    }
  }
}

[aria-sort="descending"] {
  .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "\e5cf" !important;
        font-family: "Material Icons" !important;
        position: absolute !important;
        right: -5px !important;
        top: -11px !important;
        color: #0C2644 !important;
        display: block !important;
      }
    }
  }
}
